<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="navbar">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/buildings}" th:utext="#{navbar.n1}">Buildings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/architects}" th:utext="#{navbar.n2}">Architects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/buildings/add}" th:utext="#{navbar.n3}">AddBuilding</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/architects/add}" th:utext="#{navbar.n4}">AddArchitect</a>
                </li>
            </ul>
        </div>
    </nav>

</div>

</body>

</html>