<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ruben's Project</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="../../static/css/style.css" media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script defer th:src="@{/js/filteringArchitects.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div th:insert="~{fragments/header::header}">header</div>

<div th:insert="~{fragments/navbar::navbar}">navbar</div>

<h3 class="m-4 h3 text-center" th:utext="#{architects.header}">Architects:</h3>

<div class="w-80 px-4">
    <table class="table table-hover my-4">
        <thead class="table-dark">
        <tr>
            <th th:utext="#{architects.name}">Company name</th>
            <th th:utext="#{architects.date}">Establishment date</th>
            <th th:utext="#{architects.detail}">Detail button</th>
        <tr>
        </thead>
        <tbody id="tableBody">
        <tr th:each="architect : ${allArchitects}">
            <td th:text="${architect.getNameCompany()}">Company name</td>
            <td th:text="${architect.getEstablishmentDate()}">Establishment date</td>
            <td><a class="btn btn-outline-dark" href="../detailpages/architectdetail.html"
                   th:href="@{/architects/architectdetail(architectID=${architect.id})}"
                   th:utext="#{architects.detailbtn}">Architect Detail</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="p-4">
<!--    <div class="alert alert-warning w-50 my-4" role="alert" th:if="${errorMessage}" th:text="${errorMessage}">-->
<!--        Please fill in your correct details.-->
<!--    </div>-->
    <div class="d-flex">
        <div class="w-25">
            <form>
                <div class="mb-3">
                    <label class="form-label" for="numberOfEmployees">Number of employees greater than:</label>
                    <input class="form-control" id="numberOfEmployees" name="numbE" placeholder="16" type="number">
                </div>
                <div class="d-flex">
                    <div class="">
                        <button class="btn btn-dark" id="numberFilter" type="button">Filter</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="px-4 d-flex">
    <div class="">
        <a class="btn btn-dark" th:href="@{/architects/add}" th:utext="#{architects.button}">Add an architect</a>
    </div>
    <div class="mx-4">
        <a class="btn btn-outline-dark" th:href="@{/architects}">Reset</a>
    </div>
</div>

<div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>

</body>
</html>